In [1]:
# importing the libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings

In [2]:
# importing the G20 data with null value filtered from columns 1960-61
data=pd.read_excel('G20_filtered.xlsx',sheet_name='Sheet1',encoding='cp1252')
data.head()

,Country Name,Country Code,Category,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,European Union,EUU,Fertility Rate,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,38.998777,39.966198,40.876645,40.833082,40.734565,...,15.116076,14.876354,14.292971,13.731586,13.197179,12.653616,12.146321,11.546915,10.982830,NaN
1,European Union,EUU,Age Dependency Ratio,Age dependency ratio (% of working-age populat...,SP.POP.DPND,55.211412,55.643449,55.839082,55.886126,55.936963,...,48.872113,49.004561,49.163190,49.388945,49.720824,50.313220,50.958803,51.682505,52.468510,53.269367
2,European Union,EUU,Age Dependency Ratio,"Age dependency ratio, old",SP.POP.DPND.OL,15.248715,15.515340,15.766336,16.009237,16.258148,...,25.110200,25.355058,25.590809,25.868576,26.236796,26.749327,27.328315,28.008874,28.700981,29.390003
3,European Union,EUU,Age Dependency Ratio,"Age dependency ratio, young",SP.POP.DPND.YG,39.797238,39.967566,39.928968,39.754301,39.573676,...,23.656250,23.536786,23.453866,23.397166,23.356981,23.437807,23.501868,23.540458,23.629116,23.739617
4,European Union,EUU,Population Growth Rate,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,18.579592,18.534094,18.337320,18.415015,18.509896,...,10.580252,10.663001,10.916539,10.752923,10.752075,10.438579,10.381936,9.996371,10.066308,NaN

In [3]:
# shape of original dataset
data.shape

(3244, 61)

In [4]:
# number of Countries in dataset
data['Country Name'].nunique()

20

In [5]:
# Data summary Stats
data.describe(include='all')

,Country Name,Country Code,Category,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
count,3244,3244,3244,3244,3244,3.244000e+03,3.244000e+03,3.244000e+03,3.244000e+03,3.244000e+03,...,3.243000e+03,3.240000e+03,3.242000e+03,3.242000e+03,3.242000e+03,3.238000e+03,3.230000e+03,3.228000e+03,3.221000e+03,3.021000e+03
unique,20,20,13,170,170,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,United Kingdom,GBR,Population Female,Urban population (% of total),SP.POP.65UP.TO.ZS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,169,169,1317,20,20,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,4.900997e+06,4.950521e+06,5.021738e+06,5.114867e+06,5.207671e+06,...,9.100222e+06,9.183142e+06,9.252216e+06,9.324472e+06,9.394655e+06,9.475253e+06,9.562122e+06,9.643701e+06,9.730062e+06,1.044693e+07
std,NaN,NaN,NaN,NaN,NaN,2.816230e+07,2.821067e+07,2.852275e+07,2.907790e+07,2.962918e+07,...,5.583385e+07,5.639277e+07,5.690371e+07,5.741388e+07,5.790382e+07,5.841281e+07,5.893547e+07,5.942524e+07,5.993642e+07,6.230359e+07
min,NaN,NaN,NaN,NaN,NaN,-1.672049e+00,-1.619998e+00,-1.703945e+00,-1.967215e+00,-2.132603e+00,...,-7.943870e+00,-7.558326e+00,-7.720454e+00,-7.829848e+00,-7.880745e+00,-8.166639e+00,-7.966836e+00,-7.726345e+00,-7.482219e+00,-7.216007e+00
25%,NaN,NaN,NaN,NaN,NaN,1.655715e+01,1.649210e+01,1.630820e+01,1.609928e+01,1.610469e+01,...,1.157432e+01,1.169783e+01,1.143411e+01,1.141581e+01,1.122816e+01,1.116702e+01,1.098875e+01,1.089742e+01,1.080898e+01,1.104639e+01
50%,NaN,NaN,NaN,NaN,NaN,2.225600e+05,2.261880e+05,2.291845e+05,2.329245e+05,2.347740e+05,...,3.513350e+05,3.512185e+05,3.515590e+05,3.515905e+05,3.518905e+05,3.530530e+05,3.549420e+05,3.572990e+05,3.583360e+05,4.025180e+05
75%,NaN,NaN,NaN,NaN,NaN,1.188984e+06,1.215134e+06,1.241142e+06,1.271448e+06,1.282116e+06,...,2.069863e+06,2.082934e+06,2.089432e+06,2.082512e+06,2.087500e+06,2.085414e+06,2.092200e+06,2.099486e+06,2.110015e+06,2.281736e+06
max,NaN,NaN,NaN,NaN,NaN,6.670700e+08,6.603300e+08,6.657700e+08,6.823350e+08,6.983550e+08,...,1.311020e+09,1.317885e+09,1.324655e+09,1.331260e+09,1.337705e+09,1.344130e+09,1.350695e+09,1.357380e+09,1.364270e+09,1.371220e+09

In [6]:
# Transposing the year and indicators
new1=pd.DataFrame()
g20=data['Country Name'].unique()

for i in g20:

    A=data[data['Country Name']==i].drop(['Country Name','Country Code','Category','Indicator Code'],axis=1)
    #A1['Country Name']=i
    A1=A.drop(['Indicator Name'],axis=1).T
    A1.columns=A['Indicator Name']
    A1['Country Name']=i
    new1=pd.concat([new1,A1],axis=0)
#A1.drop('Country Name',axis=1)
new1.head()

C:\Users\HII\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if sys.path[0] == '':

,"Adolescent fertility rate (births per 1,000 women ages 15-19)",Age dependency ratio (% of working-age population),"Age dependency ratio, old","Age dependency ratio, young","Age population, age 0, female, interpolated","Age population, age 0, male, interpolated","Age population, age 01, female, interpolated","Age population, age 01, male, interpolated","Age population, age 02, female, interpolated","Age population, age 02, male, interpolated",...,"Population, male (% of total)","Population, total",Rural population,Rural population (% of total population),Rural population growth (annual %),"Survival to age 65, female (% of cohort)","Survival to age 65, male (% of cohort)",Urban population,Urban population (% of total),Urban population growth (annual %)
1960,38.998777,55.211412,15.248715,39.797238,NaN,NaN,NaN,NaN,NaN,NaN,...,48.191346,409498462.0,158832585.0,38.787102,NaN,78.789395,66.826153,250665877.0,61.212898,NaN
1961,39.966198,55.643449,15.515340,39.967566,NaN,NaN,NaN,NaN,NaN,NaN,...,48.230769,413007006.0,158290687.0,38.326393,NaN,79.319714,67.182167,254716319.0,61.673607,NaN
1962,40.876645,55.839082,15.766336,39.928968,NaN,NaN,NaN,NaN,NaN,NaN,...,48.274121,416670637.0,157809721.0,37.873972,NaN,79.852178,67.538111,258860916.0,62.126028,NaN
1963,40.833082,55.886126,16.009237,39.754301,NaN,NaN,NaN,NaN,NaN,NaN,...,48.318684,420393292.0,157145688.0,37.380637,NaN,80.124152,67.702669,263247604.0,62.619363,NaN
1964,40.734565,55.936963,16.258148,39.573676,NaN,NaN,NaN,NaN,NaN,NaN,...,48.360955,424075860.0,156441716.0,36.890031,NaN,80.396377,67.867199,267634144.0,63.109969,NaN

In [7]:
# Shape of New Transposed G20 dataset
new1.shape

(1120, 171)

In [8]:
# Writing the dataset back to a csv file
new1.to_csv('Edited.csv',index=True)

# Importing the saved Edited file for further aggregation

In [23]:
# importing the new dataset
data=pd.read_csv('Edited.csv',encoding='cp1252')
data.head()

,Year,"Adolescent fertility rate (births per 1,000 women ages 15-19)",Age dependency ratio (% of working-age population),"Age dependency ratio, old","Age dependency ratio, young","Age population, age 0, female, interpolated","Age population, age 0, male, interpolated","Age population, age 01, female, interpolated","Age population, age 01, male, interpolated","Age population, age 02, female, interpolated",...,"Population, male (% of total)","Population, total",Rural population,Rural population (% of total population),Rural population growth (annual %),"Survival to age 65, female (% of cohort)","Survival to age 65, male (% of cohort)",Urban population,Urban population (% of total),Urban population growth (annual %)
0,1960,38.998777,55.211412,15.248715,39.797238,NaN,NaN,NaN,NaN,NaN,...,48.191346,409498462,158832585.0,38.787102,NaN,78.789395,66.826153,250665877,61.212898,NaN
1,1961,39.966198,55.643449,15.515340,39.967566,NaN,NaN,NaN,NaN,NaN,...,48.230769,413007006,158290687.0,38.326393,NaN,79.319714,67.182167,254716319,61.673607,NaN
2,1962,40.876645,55.839082,15.766336,39.928968,NaN,NaN,NaN,NaN,NaN,...,48.274121,416670637,157809721.0,37.873972,NaN,79.852178,67.538111,258860916,62.126028,NaN
3,1963,40.833082,55.886126,16.009237,39.754301,NaN,NaN,NaN,NaN,NaN,...,48.318684,420393292,157145688.0,37.380637,NaN,80.124152,67.702669,263247604,62.619363,NaN
4,1964,40.734565,55.936963,16.258148,39.573676,NaN,NaN,NaN,NaN,NaN,...,48.360955,424075860,156441716.0,36.890031,NaN,80.396377,67.867199,267634144,63.109969,NaN

In [24]:
# shape of original dataset
data.shape

(1120, 172)

In [25]:
# Null Value check
data.isnull().sum().sort_values(ascending=False)

Hospital beds (per 1,000 people)                           1025
Physicians (per 1,000 people)                               982
Number of infant deaths                                     448
Number of under-five deaths                                 448
Mortality rate, infant (per 1,000 live births)              392
Mortality rate, under-5 (per 1,000)                         392
Mortality rate, adult, female (per 1,000 female adults)      98
Mortality rate, adult, male (per 1,000 male adults)          98
Age population, age 13, male, interpolated                   56
Age population, age 12, male, interpolated                   56
Age population, age 12, female, interpolated                 56
Age population, age 11, male, interpolated                   56
Age population, age 11, female, interpolated                 56
Urban population growth (annual %)                           56
Age population, age 10, male, interpolated                   56
Age population, age 10, female, interpolated                 56
Population ages 00-04, female (% of female population)       56
Population ages 00-04, male (% of male population)           56
Age population, age 09, male, interpolated                   56
Age population, age 09, female, interpolated                 56
Age population, age 08, male, interpolated                   56
Age population, age 08, female, interpolated                 56
Population ages 05-09, female (% of female population)       56
Population ages 05-09, male (% of male population)           56
Population ages 15-19, female (% of female population)       56
Age population, age 13, female, interpolated                 56
Age population, age 14, female, interpolated                 56
Age population, age 07, male, interpolated                   56
Age population, age 20, male, interpolated                   56
Age population, age 25, male, interpolated                   56
                                                           ...
Male population 70-74                                         0
Male population 65-69                                         0
Female population 75-79                                       0
Female population 15-19                                       0
Female population 20-24                                       0
Female population 25-29                                       0
Female population 30-34                                       0
Female population 35-39                                       0
Female population 40-44                                       0
Female population 45-49                                       0
Female population 50-54                                       0
Female population 55-59                                       0
Female population 60-64                                       0
Female population 65-69                                       0
Female population 70-74                                       0
Female population 80+                                         0
Male population 60-64                                         0
Male population 00-04                                         0
Male population 05-09                                         0
Male population 10-14                                         0
Urban population (% of total)                                 0
Male population 20-24                                         0
Male population 25-29                                         0
Male population 30-34                                         0
Male population 35-39                                         0
Male population 40-44                                         0
Male population 45-49                                         0
Male population 50-54                                         0
Male population 55-59                                         0
Year                                                          0
Length: 172, dtype: int64

# Standardizing the Values using StandardScaler()

In [26]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
country=data[['Year','Country Name']]
col=data.columns
col=col.drop(['Year','Country Name'])
data_std=sc.fit_transform(data.drop(['Year','Country Name'],axis=1))

# Copying the standardized array into a Dataframe
data_std=pd.DataFrame(data_std)
data_std.columns=col

C:\Users\HII\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\HII\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [28]:
# Standardized Dataset
data_std=pd.concat([country,data_std],axis=1)
data_std.head()

,Year,Country Name,"Adolescent fertility rate (births per 1,000 women ages 15-19)",Age dependency ratio (% of working-age population),"Age dependency ratio, old","Age dependency ratio, young","Age population, age 0, female, interpolated","Age population, age 0, male, interpolated","Age population, age 01, female, interpolated","Age population, age 01, male, interpolated",...,"Population, male (% of total)","Population, total",Rural population,Rural population (% of total population),Rural population growth (annual %),"Survival to age 65, female (% of cohort)","Survival to age 65, male (% of cohort)",Urban population,Urban population (% of total),Urban population growth (annual %)
0,1960,European Union,-0.240377,-0.337673,0.176351,-0.324912,NaN,NaN,NaN,NaN,...,-0.882384,0.767442,0.305977,0.168712,NaN,0.118371,0.040324,1.449394,-0.168712,NaN
1,1961,European Union,-0.213048,-0.307718,0.212745,-0.316160,NaN,NaN,NaN,NaN,...,-0.857931,0.779571,0.303300,0.145091,NaN,0.156453,0.065586,1.486077,-0.145091,NaN
2,1962,European Union,-0.187328,-0.294154,0.247006,-0.318143,NaN,NaN,NaN,NaN,...,-0.831041,0.792237,0.300925,0.121895,NaN,0.194690,0.090843,1.523612,-0.121895,NaN
3,1963,European Union,-0.188559,-0.290892,0.280163,-0.327119,NaN,NaN,NaN,NaN,...,-0.803400,0.805106,0.297645,0.096601,NaN,0.214221,0.102519,1.563340,-0.096601,NaN
4,1964,European Union,-0.191342,-0.287367,0.314139,-0.336401,NaN,NaN,NaN,NaN,...,-0.777181,0.817837,0.294168,0.071446,NaN,0.233770,0.114194,1.603067,-0.071446,NaN

In [29]:
# Writing back the file to a CSV file
data_std.to_csv('Edited_std.csv',index=False)